<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>粑粑爱你</title>
    <link rel="stylesheet" th:href="@{/root.css}">
</head>
<body>
    <h1 th:text="${msg}"> </h1>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <h2>
        我们 ｜
        结婚已经 <span th:text="${wedding}"></span> 天了 ｜
        分开已经 <span th:text="${separated}"></span> 天了
    </h2>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <h3>❤️❤️❤️❤️❤️我们初相识❤️❤️❤️❤️❤️️️️️</h3>
    <section class="photos">
        <img th:src="@{images/1/1.jpeg}"/>
        <img th:src="@{images/1/2.jpeg}"/>
        <img th:src="@{images/1/3.jpeg}"/>
        <img th:src="@{images/1/5.png}"/>
        <img th:src="@{images/1/6.jpeg}"/>
        <img th:src="@{images/1/7.jpeg}"/>
        <img th:src="@{images/1/8.jpeg}"/>
        <img th:src="@{images/1/9.jpeg}"/>
        <img th:src="@{images/1/10.jpeg}"/>
        <img th:src="@{images/1/11.jpeg}"/>
        <img th:src="@{images/1/12.jpeg}"/>
        <img th:src="@{images/1/13.jpeg}"/>
        <img th:src="@{images/1/14.jpeg}"/>
        <img th:src="@{images/1/15.jpeg}"/>
        <img th:src="@{images/1/16.jpeg}"/>
        <img th:src="@{images/1/17.jpeg}"/>
    </section>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <h3>❤️❤️❤️❤️❤️我们在一起❤️❤️❤️❤️❤️️️️️</h3>
    <section class="photos">>
        <img th:src="@{images/2/1.jpeg}"/>
        <img th:src="@{images/2/2.jpeg}"/>
        <img th:src="@{images/2/3.jpeg}"/>
        <img th:src="@{images/2/4.jpeg}"/>
        <img th:src="@{images/2/5.jpeg}"/>
        <img th:src="@{images/2/6.jpeg}"/>
        <img th:src="@{images/2/7.jpeg}"/>
        <img th:src="@{images/2/8.jpeg}"/>
        <img th:src="@{images/2/9.jpeg}"/>
        <img th:src="@{images/2/10.jpeg}"/>
        <img th:src="@{images/2/11.jpeg}"/>
        <img th:src="@{images/2/12.jpeg}"/>
        <img th:src="@{images/2/13.jpeg}"/>
        <img th:src="@{images/2/14.jpeg}"/>
        <img th:src="@{images/2/15.jpeg}"/>
        <img th:src="@{images/2/16.jpeg}"/>
        <img th:src="@{images/2/17.jpeg}"/>
        <img th:src="@{images/2/18.jpeg}"/>
        <img th:src="@{images/2/19.png}"/>
        <img th:src="@{images/2/20.jpeg}"/>
        <img th:src="@{images/2/21.jpeg}"/>
    </section>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <h3>❤️❤️❤️❤️❤️小夫初长成❤️❤️❤️❤️❤️️️️️</h3>
    <section class="photos">
        <img th:src="@{images/3/1.jpeg}"/>
        <img th:src="@{images/3/2.jpeg}"/>
        <img th:src="@{images/3/3.jpeg}"/>
        <img th:src="@{images/3/4.jpeg}"/>
        <img th:src="@{images/3/5.jpeg}"/>
        <img th:src="@{images/3/6.jpeg}"/>
        <img th:src="@{images/3/7.jpeg}"/>
        <img th:src="@{images/3/8.jpeg}"/>
        <img th:src="@{images/3/9.jpeg}"/>
        <img th:src="@{images/3/10.jpeg}"/>
        <img th:src="@{images/3/11.jpeg}"/>
        <img th:src="@{images/3/12.jpeg}"/>
        <img th:src="@{images/3/13.jpeg}"/>
        <img th:src="@{images/3/14.jpeg}"/>
        <img th:src="@{images/3/15.jpeg}"/>
        <img th:src="@{images/3/16.jpeg}"/>
    </section>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <h3>❤️❤️❤️❤️❤️走过第一年❤️❤️❤️❤️❤️️️️️</h3>
    <section class="photos">
        <img th:src="@{images/4/1.jpeg}"/>
        <img th:src="@{images/4/2.jpeg}"/>
        <img th:src="@{images/4/3.jpeg}"/>
        <img th:src="@{images/4/4.png}"/>
        <img th:src="@{images/4/5.jpeg}"/>
        <img th:src="@{images/4/6.jpeg}"/>
        <img th:src="@{images/4/7.jpeg}"/>
        <img th:src="@{images/4/8.jpeg}"/>
        <img th:src="@{images/4/9.jpeg}"/>
    </section>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>
    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <h3>❤️❤️❤️❤️❤️我地结婚了❤️❤️❤️❤️❤️️️️️</h3>
    <section class="photos">
        <img th:src="@{images/5/1.jpeg}"/>
        <img th:src="@{images/5/2.jpeg}"/>
        <img th:src="@{images/5/3.jpeg}"/>
        <img th:src="@{images/5/4.jpeg}"/>
        <img th:src="@{images/5/5.jpeg}"/>
        <img th:src="@{images/5/6.jpeg}"/>
        <img th:src="@{images/5/7.jpeg}"/>
        <img th:src="@{images/5/8.jpeg}"/>
        <img th:src="@{images/5/9.jpeg}"/>
        <img th:src="@{images/5/10.jpeg}"/>
        <img th:src="@{images/5/11.jpeg}"/>
        <img th:src="@{images/5/12.jpeg}"/>
        <img th:src="@{images/5/13.jpeg}"/>
        <img th:src="@{images/5/14.jpeg}"/>
        <img th:src="@{images/5/15.jpeg}"/>
    </section>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <div class="center">
        <img src="https://img.icons8.com/ios-glyphs/90/000000/double-down.png"/>
    </div>

    <h3>
        粑粑很爱你，粑粑很想你，多希望每天写代码的时候扭过头看到睡在床上的不是小夫而是你。
    </h3>
</body>
</html>